In [1]:
import pandas as pd
import numpy as np

In [2]:
rating_data = pd.read_csv('C:/Users/Sunwoo/Desktop/Matrix Factorization/ml-latest-small/ml-latest-small/ratings.csv')
movie_data = pd.read_csv('C:/Users/Sunwoo/Desktop/Matrix Factorization/ml-latest-small/ml-latest-small/movies_2.csv',encoding='CP949')

In [3]:
rating_data.drop('timestamp', axis = 1, inplace = True)
rating_data.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [4]:
#movie_data.drop('genres', axis = 1, inplace = True)
movie_data.head(15)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,8,Tom and Huck (1995),Adventure|Children
3,13,Balto (1995),Adventure|Animation|Children
4,27,Now and Then (1995),Children|Drama
5,34,Babe (1995),Children|Drama
6,38,It Takes Two (1995),Children|Comedy
7,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
8,54,"Big Green, The (1995)",Children|Comedy
9,60,"Indian in the Cupboard, The (1995)",Adventure|Children|Fantasy
10,80,"White Balloon, The (Badkonake sefid) (1995)",Children|Drama
11,87,Dunston Checks In (1996),Children|Comedy
12,107,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical
13,126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
14,146,"Amazing Panda Adventure, The (1995)",Adventure|Children

In [5]:
user_movie_data = pd.merge(movie_data, rating_data, on = 'movieId')
user_movie_data.drop('title', axis = 1, inplace = True)
#pd.Categorical(user_movie_data['movieId'], ordered=True)
new_order=pd.Categorical(user_movie_data['movieId'], ordered=True)
user_movie_data.head(500)

     movieId                                       genres  userId  rating
0          1  Adventure|Animation|Children|Comedy|Fantasy       1     4.0
1          1  Adventure|Animation|Children|Comedy|Fantasy       5     4.0
2          1  Adventure|Animation|Children|Comedy|Fantasy       7     4.5
3          1  Adventure|Animation|Children|Comedy|Fantasy      15     2.5
4          1  Adventure|Animation|Children|Comedy|Fantasy      17     4.5
..       ...                                          ...     ...     ...
495       48     Animation|Children|Drama|Musical|Romance     103     3.5
496       48     Animation|Children|Drama|Musical|Romance     111     3.5
497       48     Animation|Children|Drama|Musical|Romance     117     3.0
498       48     Animation|Children|Drama|Musical|Romance     132     3.0
499       48     Animation|Children|Drama|Musical|Romance     134     3.0

[500 rows x 4 columns]

In [6]:
user_movie_data.to_csv('C:/Users/Sunwoo/Desktop/Matrix Factorization/result/user_movie.csv')

In [7]:
#new_order=pd.Categorical(user_movie_data['movieId'], ordered=True)
df_user_movie_ratings =user_movie_data.pivot(index='movieId', columns='userId', values='rating').fillna(0)
#print(user_movie_data.movieId)
df_user_movie_ratings=df_user_movie_ratings.reindex(user_movie_data.movieId)

#df_user_movie_ratings = df_user_movie_ratings.reindex(new_order,axis=1)
#print(new_order)

In [8]:
#df_user_movie_ratings=df_user_movie_ratings.drop_duplicates('movieId', keep='first')
df_user_movie_ratings=df_user_movie_ratings.drop_duplicates()

In [9]:
df_user_movie_ratings

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
171495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
171631,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176601,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_user_movie_ratings.to_csv('C:/Users/Sunwoo/Desktop/Matrix Factorization/result/pivot.csv')

In [11]:
df= None

class MatrixFactorization():
    def __init__(self, R, k, learning_rate, reg_param, epochs, verbose=False):
        """
        :param R: rating matrix
        :param k: latent parameter
        :param learning_rate: alpha on weight update
        :param reg_param: beta on weight update
        :param epochs: training epochs
        :param verbose: print status
        """

        self._R = R
        self._num_users, self._num_items = R.shape
        self._k = k
        self._learning_rate = learning_rate
        self._reg_param = reg_param
        self._epochs = epochs
        self._verbose = verbose


    def fit(self):
        """
        training Matrix Factorization : Update matrix latent weight and bias

        참고: self._b에 대한 설명
        - global bias: input R에서 평가가 매겨진 rating의 평균값을 global bias로 사용
        - 정규화 기능. 최종 rating에 음수가 들어가는 것 대신 latent feature에 음수가 포함되도록 해줌.

        :return: training_process
        """

        # init latent features
        self._P = np.random.normal(size=(self._num_users, self._k))
        self._Q = np.random.normal(size=(self._num_items, self._k))

        # init biases
        self._b_P = np.zeros(self._num_users)
        self._b_Q = np.zeros(self._num_items)
        self._b = np.mean(self._R[np.where(self._R != 0)])

        # train while epochs
        self._training_process = []
        for epoch in range(self._epochs):

            # rating이 존재하는 index를 기준으로 training
            for i in range(self._num_users):
                for j in range(self._num_items):
                    if self._R[i, j] > 0:
                        self.gradient_descent(i, j, self._R[i, j])
            cost = self.cost()
            self._training_process.append((epoch, cost))

            # print status
            if self._verbose == True and ((epoch + 1) % 10 == 0):
                print("Iteration: %d ; cost = %.4f" % (epoch + 1, cost))


    def cost(self):
        """
        compute root mean square error
        :return: rmse cost
        """

        # xi, yi: R[xi, yi]는 nonzero인 value를 의미한다.
        # 참고: http://codepractice.tistory.com/90
        xi, yi = self._R.nonzero()
        predicted = self.get_complete_matrix()
        cost = 0
        for x, y in zip(xi, yi):
            cost += pow(self._R[x, y] - predicted[x, y], 2)
        return np.sqrt(cost) / len(xi)


    def gradient(self, error, i, j):
        """
        gradient of latent feature for GD

        :param error: rating - prediction error
        :param i: user index
        :param j: item index
        :return: gradient of latent feature tuple
        """

        dp = (error * self._Q[j, :]) - (self._reg_param * self._P[i, :])
        dq = (error * self._P[i, :]) - (self._reg_param * self._Q[j, :])
        return dp, dq


    def gradient_descent(self, i, j, rating):
        """
        graident descent function

        :param i: user index of matrix
        :param j: item index of matrix
        :param rating: rating of (i,j)
        """

        # get error
        prediction = self.get_prediction(i, j)
        error = rating - prediction

        # update biases
        self._b_P[i] += self._learning_rate * (error - self._reg_param * self._b_P[i])
        self._b_Q[j] += self._learning_rate * (error - self._reg_param * self._b_Q[j])

        # update latent feature
        dp, dq = self.gradient(error, i, j)
        self._P[i, :] += self._learning_rate * dp
        self._Q[j, :] += self._learning_rate * dq


    def get_prediction(self, i, j):
        """
        get predicted rating: user_i, item_j
        :return: prediction of r_ij
        """
        return self._b + self._b_P[i] + self._b_Q[j] + self._P[i, :].dot(self._Q[j, :].T)


    def get_complete_matrix(self):
        """
        computer complete matrix PXQ + P.bias + Q.bias + global bias

        - PXQ 행렬에 b_P[:, np.newaxis]를 더하는 것은 각 열마다 bias를 더해주는 것
        - b_Q[np.newaxis:, ]를 더하는 것은 각 행마다 bias를 더해주는 것
        - b를 더하는 것은 각 element마다 bias를 더해주는 것

        - newaxis: 차원을 추가해줌. 1차원인 Latent들로 2차원의 R에 행/열 단위 연산을 해주기위해 차원을 추가하는 것.

        :return: complete matrix R^
        """
        return self._b + self._b_P[:, np.newaxis] + self._b_Q[np.newaxis:, ] + self._P.dot(self._Q.T)
    
    def to_dataframe(self):
        #matrix를 csv파일로 내보내기위해 dataframe으로 변환
        global df
        df=pd.DataFrame(self.get_complete_matrix(), columns = df_user_movie_ratings.columns)
        
        return df

    def print_results(self):
        """
        print fit results
        """

        #print("User Latent P:")
        #print(self._P)
        #print("Item Latent Q:")
        #print(self._Q.T)
        #print("P x Q:")
        #print(self._P.dot(self._Q.T))
        #print("bias:")
        #print(self._b)
        #print("User Latent bias:")
        #print(self._b_P)
        #print("Item Latent bias:")
        #print(self._b_Q)
        print("Final R matrix:")
        print(self.get_complete_matrix())
        
        #np.savetxt("result.txt",self.get_complete_matrix())
        print("Final RMSE:")
        print(self._training_process[self._epochs-1][1])

In [12]:
df_user_movie_ratings.values

array([[4. , 0. , 0. , ..., 2.5, 3. , 5. ],
       [0. , 0. , 0. , ..., 2. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [13]:
R=pd.read_csv('C:/Users/Sunwoo/Desktop/Matrix Factorization/result/pivot.csv')
R.drop('movieId', axis = 1, inplace = True)
print(R)

        1    2    3    4    5    6    7    8    9   10  ...  601  602  603  \
0     4.0  0.0  0.0  0.0  4.0  0.0  4.5  0.0  0.0  0.0  ...  4.0  0.0  4.0
1     0.0  0.0  0.0  0.0  0.0  4.0  0.0  4.0  0.0  0.0  ...  0.0  4.0  0.0
2     0.0  0.0  0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
6967  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  5.0  0.0  0.0
6968  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
6969  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
6970  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  4.5  0.0  0.0
6971  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

      604  605  606  607  608  609  610
0     3.0  4.0  2.5  4.0  2.5  3.0  5.0
1     5.0  3.5  0.0  0.0  2.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...
6967  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6968  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6969  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6970  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6971  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[6972 rows x 610 columns]

In [14]:
# run example
if __name__ == "__main__":
    # rating matrix - User X Item : (7 X 5)
    '''R = np.array([
        [1, 0, 0, 1, 3],
        [2, 0, 3, 1, 1],
        [1, 2, 0, 5, 0],
        [1, 0, 0, 4, 4],
        [2, 1, 5, 4, 0],
        [5, 1, 5, 4, 0],
        [0, 0, 0, 1, 0],
    ])'''
    
    R = pd.read_csv('C:/Users/Sunwoo/Desktop/Matrix Factorization/result/pivot.csv')
    R.drop('movieId', axis = 1, inplace = True)
    #R=R.as_matrix(columns=None)
    R=R.values
    R_M=np.float_(R)
    print(R_M)

    # P, Q is (7 X k), (k X 5) matrix
    factorizer = MatrixFactorization(R_M, k=30, learning_rate=0.01, reg_param=0.01, epochs=1000, verbose=True)
    factorizer.fit()
    factorizer.print_results()
    factorizer.to_dataframe()

[[4.  0.  0.  ... 2.5 3.  5. ]
 [0.  0.  0.  ... 2.  0.  0. ]
 [0.  0.  0.  ... 0.  0.  0. ]
 ...
 [0.  0.  0.  ... 0.  0.  0. ]
 [0.  0.  0.  ... 0.  0.  0. ]
 [0.  0.  0.  ... 0.  0.  0. ]]
Iteration: 10 ; cost = 0.0024
Iteration: 20 ; cost = 0.0023
Iteration: 30 ; cost = 0.0022
Iteration: 40 ; cost = 0.0021
Iteration: 50 ; cost = 0.0020
Iteration: 60 ; cost = 0.0019
Iteration: 70 ; cost = 0.0018
Iteration: 80 ; cost = 0.0018
Iteration: 90 ; cost = 0.0017
Iteration: 100 ; cost = 0.0017
Iteration: 110 ; cost = 0.0016
Iteration: 120 ; cost = 0.0016
Iteration: 130 ; cost = 0.0015
Iteration: 140 ; cost = 0.0015
Iteration: 150 ; cost = 0.0014
Iteration: 160 ; cost = 0.0014
Iteration: 170 ; cost = 0.0014
Iteration: 180 ; cost = 0.0013
Iteration: 190 ; cost = 0.0013
Iteration: 200 ; cost = 0.0013
Iteration: 210 ; cost = 0.0013
Iteration: 220 ; cost = 0.0012
Iteration: 230 ; cost = 0.0012
Iteration: 240 ; cost = 0.0012
Iteration: 250 ; cost = 0.0012
Iteration: 260 ; cost = 0.0012
Iteration: 270 ; cost = 0.0011
Iteration: 280 ; cost = 0.0011
Iteration: 290 ; cost = 0.0011
Iteration: 300 ; cost = 0.0011
Iteration: 310 ; cost = 0.0011
Iteration: 320 ; cost = 0.0011
Iteration: 330 ; cost = 0.0011
Iteration: 340 ; cost = 0.0010
Iteration: 350 ; cost = 0.0010
Iteration: 360 ; cost = 0.0010
Iteration: 370 ; cost = 0.0010
Iteration: 380 ; cost = 0.0010
Iteration: 390 ; cost = 0.0010
Iteration: 400 ; cost = 0.0010
Iteration: 410 ; cost = 0.0010
Iteration: 420 ; cost = 0.0010
Iteration: 430 ; cost = 0.0010
Iteration: 440 ; cost = 0.0009
Iteration: 450 ; cost = 0.0009
Iteration: 460 ; cost = 0.0009
Iteration: 470 ; cost = 0.0009
Iteration: 480 ; cost = 0.0009
Iteration: 490 ; cost = 0.0009
Iteration: 500 ; cost = 0.0009
Iteration: 510 ; cost = 0.0009
Iteration: 520 ; cost = 0.0009
Iteration: 530 ; cost = 0.0009
Iteration: 540 ; cost = 0.0009
Iteration: 550 ; cost = 0.0009
Iteration: 560 ; cost = 0.0009
Iteration: 570 ; cost = 0.0009
Iteration: 580 ; cost = 0.0009
Iteration: 590 ; cost = 0.0009
Iteration: 600 ; cost = 0.0009
Iteration: 610 ; cost = 0.0008
Iteration: 620 ; cost = 0.0008
Iteration: 630 ; cost = 0.0008
Iteration: 640 ; cost = 0.0008
Iteration: 650 ; cost = 0.0008
Iteration: 660 ; cost = 0.0008
Iteration: 670 ; cost = 0.0008
Iteration: 680 ; cost = 0.0008
Iteration: 690 ; cost = 0.0008
Iteration: 700 ; cost = 0.0008
Iteration: 710 ; cost = 0.0008
Iteration: 720 ; cost = 0.0008
Iteration: 730 ; cost = 0.0008
Iteration: 740 ; cost = 0.0008
Iteration: 750 ; cost = 0.0008
Iteration: 760 ; cost = 0.0008
Iteration: 770 ; cost = 0.0008
Iteration: 780 ; cost = 0.0008
Iteration: 790 ; cost = 0.0008
Iteration: 800 ; cost = 0.0008
Iteration: 810 ; cost = 0.0008
Iteration: 820 ; cost = 0.0008
Iteration: 830 ; cost = 0.0008
Iteration: 840 ; cost = 0.0008
Iteration: 850 ; cost = 0.0008
Iteration: 860 ; cost = 0.0008
Iteration: 870 ; cost = 0.0008
Iteration: 880 ; cost = 0.0008
Iteration: 890 ; cost = 0.0008
Iteration: 900 ; cost = 0.0008
Iteration: 910 ; cost = 0.0008
Iteration: 920 ; cost = 0.0008
Iteration: 930 ; cost = 0.0008
Iteration: 940 ; cost = 0.0008
Iteration: 950 ; cost = 0.0008
Iteration: 960 ; cost = 0.0008
Iteration: 970 ; cost = 0.0008
Iteration: 980 ; cost = 0.0008
Iteration: 990 ; cost = 0.0008
Iteration: 1000 ; cost = 0.0008
Final R matrix:
[[ 5.02378587  3.65481392  1.90684645 ...  2.32765947  3.21178391
   4.47921499]
 [ 3.59516803  3.13069064  4.56003592 ...  2.15859938  2.38956632
   3.03941473]
 [ 3.10063902  5.80979576  2.65946473 ...  3.82988936  2.83131428
   2.81271241]
 ...
 [ 2.00019082  4.57041372  1.45748829 ...  6.21833618  3.19620892
   4.30760889]
 [ 4.46423656 -0.8759011  -0.77323632 ...  0.02776179  2.56469539
   5.06043361]
 [ 3.59577816  1.06494771  2.37478068 ...  2.02317984  2.05524233
   3.4278943 ]]
Final RMSE:
0.0007715107916798346

In [15]:
#print(df)
#df_user_movie_ratings.to_csv('C:/Users/Sunwoo/Desktop/Matrix Factorization/result/result0_1.csv')
df.to_csv('C:/Users/Sunwoo/Desktop/Matrix Factorization/result/result_genre.csv')